// Fonts
@font-face {
  font-family: 'Tommy Soft';
  src: url('../fonts/tommy-light.woff2') format('woff2'),
       url('../fonts/tommy-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Tommy Soft';
  src: url('../fonts/tommy-medium.woff2') format('woff2'),
       url('../fonts/tommy-medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Tommy Soft Title';
  src: url('../fonts/tommy-bold.woff2') format('woff2'),
       url('../fonts/tommy-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Tommy Soft Outline';
  src: url('../fonts/tommy-outline.woff2') format('woff2'),
       url('../fonts/tommy-outline.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

$base-font: 'Tommy Soft', Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;

// Responsive typography
$min-width: 320;
$max-width: 1280;
$min-font: 18;
$max-font: 24;

:root {
  font-size: #{$min-font}px;
}

@media (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
  :root {
    font-size: calc( #{$min-font}px + (#{$max-font} - #{$min-font}) * ( (100vw - #{$min-width}px) / ( #{$max-width} - #{$min-width})));
  }
}

@media (min-width: #{$max-width}px) {
  :root {
    font-size: #{$max-font}px;
  }
}

// General styles
:root {
  --main: #e8f3f8;
  --alt: #383838;
  --accent: #c7f464;
  --light-txt: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $base-font;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--alt);
  padding: 1rem;

  h1 {
    margin: auto;
    text-transform: uppercase;
    color: var(--accent);
    line-height: 1.1;

    span:first-child {
      font-family: 'Tommy Soft Outline', Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
      display: block;
    }

    span:nth-child(2) {
      font-family: 'Tommy Soft Title', Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
    }
  }

  img {
    width: 40%;
    min-width: 8em;
    max-width: 14em;
    margin: 1em auto;
  }
}

@media screen and (min-width: 640px) {
  header {
    span:nth-child(2) {
      font-size: 150%;
    }
  }
}

main {
  flex: 1;
  padding: 1rem;
  max-width: 40rem;
  margin: auto;
}

footer {
  display: block;
  text-align: center;
  font-size: 85%;
  padding: 0.5rem;
  background-color: var(--alt);
  color: var(--light-txt);

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    margin-right: 1rem;
  }

  a {
    color: var(--accent);
    border-bottom: 0;
  }
}

@media screen and (min-width: 740px) {
  footer {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;

    ul {
      margin-right: auto;
    }

    li {
      margin-bottom: 0;
    }
  }
}

h2 {
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.33;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}

a:hover {
  border-bottom: 1px solid currentColor;
}

img,
iframe {
  max-width: 100%;
}

/* PrismJS 1.21.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*='language-'],
pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.8em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0 1rem;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
