---
layout: base.njk
css: front
---
<header>
  <h1>
    <span class="outline">A Guide to</span>
    <span class="title">Web Monetization</span>
  </h1>
  <img src="{{ site.url }}/assets/img/web-monetization.svg" />
</header>

<main>
  <p>Site is being built right now. Take a look at the content ideas being tossed around in our [GitHub README](https://github.com/huijing/webmonetization#content-ideas).</p>
</main>
