---
layout: base.njk
css: front
---
<header>
  <h1>
    <span class="outline">A Guide to</span>
    <span class="title">Web Monetization</span>
  </h1>
  <img src="{{ site.url }}/assets/img/web-monetization.svg" />
</header>

<main>
  <h2>The Why</h2>

  <p>If you have landed here, you either want to find out more about web monetization and how to implement it, or you're here by accident. But since you're already here, let us introduce you to this burgeoning technology that could be a viable alternative to traditional methods of getting paid for web content.</p>

  <p>These days, you can't talk about paid web content without touching on advertising. If the content is free, often, the creators have to serve ads as a means to earn something. Some will offer a paid option to get rid of aforementioned ads. Advertising has almost become a scourge of the web.</p>

  <p>To get paid for showing ads on the web, there has to be some form of proof that the ad had been seen or interacted with. Cue the boatload of tracking scripts that come with the ads, as well as the various annoying tactics (like pop-ups) to ensure someone at least sees the ad for the 3 seconds it takes to find the close button.</p>

  <p>The motivation behind all these dark user interaction patterns is that compensation is based on the offending ad being clicked on, or at least seen. What if we had a different approach to compensating content creators that did not rely on the advertising model?</p>

  <h2>The What</h2>

  <p>The <a href="https://webmonetization.org/">Web Monetization API</a> aims to provide an open, native and automatic way to compensate creators, pay for API calls and support critical web infrastructure. It is a Javascript browser API which allows the creation of a payment stream from the user agent to another website.</p>

  <p>For this to work, there needed to be an infrastructure level technology that allowed the streaming of payments. This is where the <a href="https://interledger.org/">Interledger Protocol</a> comes in. It is analogous to the Transmission Control Protocol/Internet Protocol (TCP/IP) that web developers might be more familiar with.</p>

  <p>Where the internet sends packets of data across different networks, the Interledger protocol routes packets of value across independent networks. It seeks to do this in an interoperable manner to allow transactions in whichever currency or payment network of your choice.</p>

  <p>A protocol is a set of rules and guidelines for communicating data. Again, with reference to TCP, there are rules for how data should be packaged into packets, how the packets are sent and received, what happens when packets are dropped etc. The Interledger Protocol defines a set of rules for how nodes should send value over the Interledger network.</p>

  <h2>The How</h2>

  <p>This section is WIP (๑•̀ㅂ•́)و✧</p>
</main>
