---
layout: base.njk
css: front
---
<header>
  <h1>
    <span class="outline">A Guide to</span>
    <span class="title">Web Monetization</span>
  </h1>
  <img src="{{ site.url }}/assets/img/web-monetization.svg" alt="">
</header>

<main>
  <h2>The Why</h2>

  <p>If you have landed here, you either want to find out more about web monetization and how to implement it, or you're here by accident. But since you're already here, let us introduce you to this burgeoning technology that could be a viable alternative to traditional methods of getting paid for web content.</p>

  <p>These days, you can't talk about paid web content without touching on advertising. If the content is free, often, the creators have to serve ads as a means to earn something. Some will offer a paid option to get rid of aforementioned ads. Advertising has almost become a scourge of the web.</p>

  <p>To get paid for showing ads on the web, there has to be some form of proof that the ad had been seen or interacted with. Cue the boatload of tracking scripts that come with the ads, as well as the various annoying tactics (like pop-ups) to ensure someone at least sees the ad for the 3 seconds it takes to find the close button.</p>

  <p>The motivation behind all these dark user interaction patterns is that compensation is based on the offending ad being clicked on, or at least seen. What if we had a different approach to compensating content creators that did not rely on the advertising model?</p>

  <h2>The What</h2>

  <p>The <a href="https://webmonetization.org/">Web Monetization API</a> aims to provide an open, native and automatic way to compensate creators, pay for API calls and support critical web infrastructure. It is a Javascript browser API which allows the creation of a payment stream from the user agent to another website.</p>

  <p>For this to work, there needed to be an infrastructure level technology that allowed the streaming of payments. This is where the <a href="https://interledger.org/">Interledger Protocol</a> comes in. It is analogous to the Transmission Control Protocol/Internet Protocol (TCP/IP) that web developers might be more familiar with.</p>

  <p>Where the internet sends packets of data across different networks, the Interledger protocol routes packets of value across independent networks. It seeks to do this in an interoperable manner to allow transactions in whichever currency or payment network of your choice.</p>

  <p>A protocol is a set of rules and guidelines for communicating data. Again, with reference to TCP, there are rules for how data should be packaged into packets, how the packets are sent and received, what happens when packets are dropped etc. The Interledger Protocol defines a set of rules for how nodes should send value over the Interledger network.</p>

  <h2>The How</h2>

  <p>Currently, implementing web monetization on your site or application is a fairly straightforward process. To receive payments, you must have a digital wallet that supports the Interledger Protocol (ILP). At the moment, your options are <a href="https://gatehub.net/">Gatehub</a> or <a href="https://uphold.com/en-us/">Uphold</a>, but hopefully there will be more options moving forward.</p>

  <p>Both of the aforementioned digital wallets will generate something called a payment pointer. It takes the following form (variation depending on your digital wallet of choice):</p>

  <pre class="language-html"><code>$ilp-xxx.xxx/SOME_UNIQUE_IDENTIFIER</code></pre>

  <p>This payment pointer is referenced in the <em>monetization</em> <code class="language-html">meta</code> tag which goes into the <code class="language-html">head</code> of your website or application. Do note that web monetization only works on secure pages served over HTTPS.</p>

  <pre class="language-html"><code>&lt;meta name="monetization" content="$YourPaymentPointer" /&gt;</code></pre>

  <p>But with that, you are set to receive payments from visitors who have an account or subscription with a web monetization provider, like <a href="https://coil.com/">Coil</a>. They also will need to install a web monetization agent (e.g. the Coil browser extension) on their browser with the necessary authorization for the provider to stream payments to you.</p>

  <p>You can read more details in the <a href="https://webmonetization.org/specification.html">draft W3C specification on Web Monetization</a>, keeping in mind that this is very much a work in progress document.</p>
</main>
